@import "./Variables.scss";

.input {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border: none;
  border-top: 1px solid rgba(194, 194, 214, 0.1);
  border-radius: 6px;
  background: mix($white-color, $background-color, 6%);
  height: 40px;
  font-size: 12px;
}

.checkbox-input {
  flex-shrink: 0;
  appearance: none;
  border: none;
  background-color: rgba($white-color, 0.5);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;

  &:checked {
    background-color: $primary-color;
  }
}
