//font
$font-bold: 700;
$font-semibold: 600;

//colors

$black-color: #101018;
$white-color: #ffffff;
$blue-color: #2D6CE1;
$red-color: #ED6273;
$yellow-color: #F7C035;

$background-color: $black-color;
$primary-color: $blue-color;
$dangerous-action-color: $red-color;
$new-color: #B4143A;
$quality-color: #F7C035;


//responsive
$layout-breakpoint-small: 576px;
$layout-breakpoint-large: 992px;
